In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn import tree

In [2]:
df = pd.read_csv('LoanData.csv')
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [16]:

#Missing Values
df.replace(" ",np.nan,inplace=True)
df=df.dropna()
#Changing + in Dependents with null
df.update(df.Dependents.str.replace("+", " " ))

Pre-processing


X as the Feature Matrix (data of my_data)


y as the response vector (target)

In [13]:
X = df[['Dependents','ApplicantIncome','CoapplicantIncome','LoanAmount','Loan_Amount_Term','Credit_History']].values
X = df.iloc[:,[3,6,7,8,9,10]].values
y = df.iloc[:,12].values

Splitting the Dataset

In [14]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test, = train_test_split(X,y,test_size=0.25,random_state=0)

Feature Scalling

In [15]:
from sklearn.preprocessing import StandardScaler
sc_X=StandardScaler()
X_train=sc_X.fit_transform(X_train)
X_test=sc_X.transform(X_test)

Fit the Model in Decision Tree Clasifier

In [17]:
from sklearn.tree import DecisionTreeClassifier
classifier=DecisionTreeClassifier()
classifier=classifier.fit(X_train,y_train)

Make Prediction and check acuuracy

In [20]:
#prediction
y_pred=classifier.predict(X_test)

#Accuracy
from sklearn import metrics

print('Accuracy Score: ',metrics.accuracy_score(y_test,y_pred))

Accuracy Score:  0.6416666666666667

Confusion Matrix

In [22]:
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_test,y_pred)
cm

array([[22, 20],
       [23, 55]], dtype=int64)